<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu/menu.css') }}">
</head>
<body>
<h2 class="title">
                Добро пожаловать, Вы зашли как Абонент.
</h2>
<center>
    <div class="wrapper">
        <section class="body">
        </section>
        <section class="header">
            <div class="menu">
                <nav class="menu__body">
                    <ul class="menu__list">
                        <a href={{url_for('bp_query.external_query_menu')}} class="menu__link"> Посмотреть информацию о себе</a>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
    <a class="return-button" href={{url_for('exit_func')}} class="menu__link">Выйти</a>
</center>
</body>
</html>