/* styles.css */

/* Общие стили для body (тега <body>) */
body {
    font-family: Arial, sans-serif; /* Устанавливаем шрифт текста */
    background-color: #f4f4f4; /* Цвет фона */
    margin: 0; /* Обнуляем отступы */
    display: flex; /* Используем flex-контейнер для центрирования */
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: center; /* Выравнивание по центру по горизонтали */
    height: auto; /* Высота экрана */
    flex-direction: column; /* Направление элементов в контейнере - вертикальное */
}

/* Стили для .welcome-message */
.welcome-message {
    background-color: #191970; /* Цвет фона приветственного сообщения */
    color: #fff; /* Цвет текста приветственного сообщения */
    padding: 10px; /* Внутренний отступ */
    text-align: center; /* Выравнивание текста по центру */
    width: 100%; /* Ширина блока - 100% */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    margin-bottom: 10px; /* Отступ снизу */
}

/* Стили для .login-container */
.login-container {
    background-color: #fff; /* Цвет фона контейнера для входа */
    border-radius: 8px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 20px; /* Внутренний отступ */
    width: 300px; /* Ширина контейнера для входа */
}

/* Стили для заголовка .login-container */
.login-container h2 {
    text-align: center; /* Выравнивание текста заголовка по центру */
    color: #333; /* Цвет текста заголовка */
}

/* Стили для формы .login-form */
.login-form {
    margin-top: 20px; /* Внутренний отступ сверху */
}

/* Стили для .form-group */
.form-group {
    margin-bottom: 15px; /* Внутренний отступ снизу */
}

/* Стили для меток .form-group label */
.form-group label {
    display: block; /* Блочное отображение */
    margin-bottom: 5px; /* Внутренний отступ снизу */
    color: #555; /* Цвет текста метки */
}

/* Стили для текстовых полей .form-group input */
.form-group input {
    width: 100%; /* Ширина 100% */
    padding: 8px; /* Внутренний отступ */
    box-sizing: border-box; /* Размеры включают границы и внутренний отступ в общую ширину */
    border: 1px solid #ccc; /* Граница */
    border-radius: 4px; /* Закругление углов */
}

/* Стили для кнопки .form-group button */
.form-group button {
    background-color: #4caf50; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    padding: 10px; /* Внутренний отступ */
    border: none; /* Убираем границу */
    border-radius: 4px; /* Закругление углов */
    cursor: pointer; /* Изменение вида курсора при наведении */
    width: 100%; /* Ширина 100% */
}

/* Стили для кнопки .form-group button в состоянии наведения */
.form-group button:hover {
    background-color: #45a049; /* Изменение цвета фона при наведении */
}

/* Стили для блока с сообщением об ошибке .error-message */
.error-message {
    color: #ff0000; /* Цвет текста ошибки */
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 10px; /* Внутренний отступ сверху */
}
