/* styles.css */

body {
    font-family: Arial, sans-serif; /* Устанавливаем шрифт текста */
    background-color: #f4f4f4; /* Цвет фона */
    margin: auto; /* Обнуляем отступы */
    display: flex; /* Используем flex-контейнер для центрирования */
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: center; /* Выравнивание по центру по горизонтали */
    height: auto; /* Высота экрана */
    flex-direction: column; /* Расположение дочерних элементов в столбец */
}

/* Стили для заголовка h2 */
h2 {
    background-color: #191970; /* Цвет фона заголовка */
    color: #fff; /* Цвет текста заголовка */
    padding: 15px; /* Внутренний отступ заголовка */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень заголовка */
    text-align: center; /* Выравнивание текста по центру */
    width: 100%; /* Ширина блока */
    margin:auto; /* Центрирование заголовка */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для кнопок */
button {
    background-color: #191970; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    padding: 10px 20px; /* Внутренний отступ кнопки */
    border: none; /* Убираем границу кнопки */
    border-radius: 20px; /* Закругление углов кнопки */
    cursor: pointer; /* Задаем курсор */
    margin-right: 10px; /* Внешний отступ справа между кнопками */
}

/* Стили для ссылок */
a {
    background-color: #191970; /* Цвет фона ссылки */
    color: #fff; /* Цвет текста ссылки */
    padding: 10px 20px; /* Внутренний отступ ссылки */
    border-radius: 4px; /* Закругление углов ссылки */
    text-decoration: none; /* Убираем подчеркивание текста */
    cursor: pointer; /* Задаем курсор */
    margin-top: 10px; /* Внешний отступ сверху */
}

/* Стили для таблиц */
table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Схлопываем границы ячеек */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для ячеек таблицы */
td {
    border: 2px solid #ddd; /* Граница ячейки */
    padding: 8px; /* Внутренний отступ ячейки */
    text-align: center; /* Выравнивание текста по центру */
}
