 <!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<title>Dynamic_page</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='query/query.css') }}">
<body>
<h2>{{info_title}}</h2>
<center>
	<p>
		<table border="1">
			<tr>
				<td>Номер телефона</td>
				<td>Задолженность</td>
				<td>Месяц</td>
				<td>Год</td>
			</tr>
			{% for info in result %}
	<tr>
			<td>{{info['phone_num']}}</td>
			<td>{{info['excess_amount']}}</td>
			<td>{{info['limit_month']}}</td>
			<td>{{info['limit_year']}}</td>

			{% endfor %}
	</tr>

</table>
	<a href="{{url_for('menu_choice')}}"> Возврат в главное меню</a>
	<a href="{{url_for('bp_query.internal_query_menu')}}"> Возврат в меню запросов</a>
</body>
</html> 