/* styles.css */

body {
    font-family: Arial, sans-serif; /* Устанавливаем шрифт текста */
    background-color: #f4f4f4; /* Цвет фона */
    margin: auto; /* Обнуляем отступы */
    display: flex; /* Используем flex-контейнер для центрирования */
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: center; /* Выравнивание по центру по горизонтали */
    height: auto; /* Высота экрана */
    flex-direction: column; /* Расположение дочерних элементов в столбец */
}

/* Стили для заголовка h2 */
h2 {
    background-color: #191970; /* Цвет фона заголовка */
    color: #fff; /* Цвет текста заголовка */
    padding: 15px; /* Внутренний отступ заголовка */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень заголовка */
    text-align: center; /* Выравнивание текста по центру */
    width: 100%; /* Ширина блока */
    margin:auto; /* Центрирование заголовка */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для формы */
form {
    text-align: center; /* Выравнивание текста по центру */
    margin-bottom: 20px; /* Отступ снизу между формами */
}

/* Стили для названия отчета */
.named_list {
    display: block; /* Блочное отображение, чтобы элементы были на разных строках */
    font-weight: bold; /* Жирное начертание */
    margin-bottom: 10px; /* Отступ снизу */
}

/* Стили для кнопок внутри формы */
input[type="submit"] {
    background-color: #191970; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    padding: 10px 20px; /* Внутренний отступ кнопки */
    border: none; /* Убираем границу кнопки */
    border-radius: 20px; /* Закругление углов кнопки */
    text-decoration: none; /* Убираем подчеркивание текста */
    margin: 0 10px; /* Внешний отступ между кнопками */
    cursor: pointer; /* Задаем курсор */
}
/* Стили для ввода года и месяца */
input[type="number"] {
    width: 50px; /* Ширина поля ввода */
    padding: 8px; /* Внутренний отступ поля ввода */
    margin: 0 10px; /* Внешний отступ между полями ввода */
}

/* Стили для описания отчета */
.description {
    display: block; /* Блочное отображение */
    color: #555; /* Цвет текста */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для ссылки "В главное меню" */
a {
    background-color: #191970; /* Цвет фона ссылки */
    color: #fff; /* Цвет текста ссылки */
    padding: 10px 20px; /* Внутренний отступ ссылки */
    border-radius: 20px; /* Закругление углов ссылки */
    text-decoration: none; /* Убираем подчеркивание текста */
    margin: 0 10px; /* Внешний отступ между ссылками */
    cursor: pointer; /* Задаем курсор */
}

/* Стили для ссылки "В главное меню" в состоянии наведения */
a:hover {
    background-color: #123456; /* Изменение цвета фона при наведении */
}
/* Стили для описания отчета */
p {
    text-align: center; /* Выравнивание текста по центру */
    margin-bottom: 20px; /* Отступ снизу между параграфами */
}

/* Стили для таблицы */
table {
    border-collapse: collapse; /* Схлопываем границы ячеек */
    width: 100%; /* Ширина таблицы */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для ячеек таблицы */
td {
    border: 1px solid #ddd; /* Граница ячейки */
    padding: 8px; /* Внутренний отступ ячейки */
    text-align: center; /* Выравнивание текста по центру */
}